{% extends 'VCAdminBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
        <h2>
            <a href="{{ path('vc_admin_static_text_edit', {id: text.id}) }}">Editace</a> -
            <a href="{{ path('vc_admin_static_text_photos', {id: text.id}) }}">Upravit fotky</a> -
            <a href="{{ path('vc_admin_static_text_upload', {id: text.id}) }}">Nahrát fotky</a>
        </h2>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <form id="photo-upload" class="dropzone" action="{{ path('vc_admin_static_text_upload', {id: text.id}) }}">
                </form>
            </div>
        </div>
    </div>

{% endblock %}