{% extends 'VCAdminBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
        {% if new.id %}
            <h2>
                <a href="{{ path('vc_admin_news_edit', {newsId: new.id}) }}">Uprava aktuality</a> -
                <a href="{{ path('vc_admin_news_photos', {newsId: new.id}) }}">Upravit fotky</a> -
                <a href="{{ path('vc_admin_news_upload', {newsId: new.id}) }}">Nahrát fotky</a>
            </h2>
        {% else %}
            <h2>Nová akutalita</h2>
        {% endif %}
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">

                {{ form(form) }}


            </div>
        </div>
    </div>

{% endblock %}