/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/node_modules/
/web/reference/
/web/.sass-cache/
/web/vinconsult/.sass-cache
/.idea/
/web/media/cache/
