*, body {
  font-family: 'Proxima Nova Lt', Georgia, sans-serif;
  line-height: 1.5em;
}

body {
  min-height: 100vh;
  position: relative;
  background: #f9f9f9;
  color: #676766;

  a {
    color: black;
  }
}

.text {
  font-size: 1.6em;
  padding: 1em;
  min-height: 100vh;



  &.down {
    margin-top: 100vh;
  }

  h2 {
    font-weight: $weightBold;
    font-size: 2.5em;
    margin: 1em 0;// 1em -50vw;
    color: $cBlack;
    /*text-align: left;
    position: relative;
    width: 100vw;
    padding-left: 30vw;
    left: 50%;*/
  }
  h3 {
    font-weight: $weightBold;
    font-size: 1.25em;
    text-align: left;
    margin: 1em 0;/* 1em -50vw;
    position: relative;
    width: 100vw;
    padding-left: 30vw;
    left: 50%;*/
  }
  p {
    margin: 1em 0;
  }
  strong {
    font-weight: $weightBold;
  }
  ul {
    margin: 1em 0;
    padding: 0 1em;
  }
  li {
    margin-left: 0;
    text-indent: -1em;
    margin-bottom: .5em;
  }

  li:before {
    content: "â— ";
    color: $cBlack;
  }

  h4 {
    font-family: 'Proxima Nova Lt', Georgia, sans-serif;
    line-height: 1.5em;
    font-size: 1em;
  }
  .row {
    margin-bottom: .5em;
  }
  img {
    width: 100%;
    padding: 0.5em;
  }
  a {
    text-decoration: underline;
    color: black;
  }
  .year-divider {
    font-size: 2em;
  }
  .flex-row {
    display: flex;
    > div {
      align-self: center;
    }
  }
}


.vedeni-row {
  text-align: center;
}
.vedeni {
  text-align: left;
  //height: 17em;
  &.career {
    height: auto;
  }

  span {
    font-size: 0.7em;
    display: block;
  }
}

.cover-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .h2 {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 0;
    font-size: 1em;

    h2 {
      font-size: 3em;
      line-height: 2em;
      margin: 0 auto;
      max-width: 26.75em;
      text-align: left;
      padding: 0;
    }

    span.main {
      font-size: 1.5em;
    }
    span.sub {
      font-size: 0.75em;
    }
  }

}