{% extends 'VCAdminBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
        <h2>Úprava hlavního menu</h2>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">

                {{ form(form) }}


            </div>
        </div>
    </div>

{% endblock %}