{% extends 'VCAdminBundle::layout.html.twig' %}

{% block title %}

{% endblock %}


{%  block content %}

    <div class="row">
        <h2>Administrace VinConsult.cz</h2>

        <p>Administrace se ovládá pomocí menu v levé části. Pomocí tlačítka vpravo nahoře je možné se odhlásit.</p>
        <p><strong>Hlavní strana</strong> - úprava textů a fotek na hlavní straně.</p>
        <p><strong>Reference</strong> - úprava referencí, jejich fotek. Možnost importu či exportu dat.</p>
        {# TODO historie, BIM... #}

    </div>

{% endblock %}